body {
  background: #e9e8ed;
  display: flex;
  flex-flow: row wrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 320px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 74px;
}

nav {
  display: flex;
  text-align: right;
  font-size: 60px;
  justify-content: end;
}

main {
  width: 100%;
  background: #e9e8ed;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  height: 300px;
}

.miNombre {
  background: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

.saludo {
  background: none;
  font-size: 14px;
}

.collabBoton {
  color: #56c48f;
  text-align: center;
  align-items: center;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  margin: 0 auto;
  background: #07080e;
  border: #eff5f0 1px;
}

.boton {
  font-size: 50px;
}

.art {
  margin-top: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  margin-bottom: 0;
}

li {
  font-size: 12px;
  background-color: #73e6f5;
  float: left;
  text-align: center;
  margin-right: 10px;
  padding: 6px;
}

h3 {
  border: #edeff5 solid 1px;
  padding: 10px;
  color: #e9e8ed;
  width: 60%;
  font-style: normal;
  margin-bottom: 0;
}

.pData {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  color: #edeff5;
  padding: 0;
  margin: 0;
  font-style: none;
}

h4 {
  font-size: 40px;
}

.rsFooter {
  background-color: #0f4f52;
  float: left;
  text-align: center;
  margin: 0;
  margin-top: 40px;
  width: 260px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.rrss {
  background-color: #0f4f52;
}

a {
  text-decoration: none;
  color:#1e8e94 ;
  align-items: center;
}

.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.box1 {
  background-color: #1c52ba;
  width: 289px;
  height: 289px;
  margin: 10px;
}

.box2 {
  background-color: #e2505c;
  width: 289px;
  height: 289px;
  margin: 10px;
}

.box3 {
  background-color: #febf52;
  width: 289px;
  height: 289px;
  margin: 10px;
}
.bo {
  display: flex;
  flex-direction: column;
  color: #eff5f0;
  text-align: left;
}

h5 {
  color:#eff5f0
}